/__pycache__

/.qt_for_python

/.vscode

/sql

.pyc 

.env

/env

/ui/img/

/tools/templates/prescripcion_dev.qpt
/tools/templates/prescripcion_dev.qpt
/tools/ceap_style.qml
/tools/estilos_completos.qml
